@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    width:100%;
}
.heading{
    color:white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color:rgb(161, 130, 71);
}

.btn{
    text-decoration: none;
    margin-top: 2rem;
    display: inline-block;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 0.5rem;
    padding:0 1rem;
    background-color: rgb(138, 112, 65);
    border-color: rgb(120, 101, 67);
    height:4rem;
    padding-top: 1rem;
}

.btn:hover{
    word-spacing: 1rem;
    word-spacing: 0.5rem;
    border-color: rgb(142, 115, 69);
    letter-spacing: 0.2rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}


section{
    padding: 1rem 5%;
}

.nav-logo .logo {
    height: 8rem;
    width: 10rem;
    background-color: transparent;
}

.nav-logo .logo img{
    padding-bottom: 2.3rem;
}



.placeorder_container{
    position: absolute;
    top:20%;
    left:0;
    height: 90vh;
    z-index: 1200;
    width: 35rem;
    color: white;
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    padding: 0 1rem;
    margin-left: 3rem;
    display: none; 
}

.order_container {
    position: absolute !important;
    top: 20%;
    left: 0;
    height: 20vh;
    width: 35rem;
    color: white;
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    padding: 0 1rem;
    margin-left: 2rem;
    display: flex;
    z-index: 1200;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    display: none;
    overflow: auto;
}

.order_container.o2 {
    display: block !important;
    display: flex !important;
    flex-direction: column !important;
    position: fixed;
    width: 30rem;
}

.account_container {
    position: absolute;
    top: 20%;
    right: 0;
    height: 20vh;
    width: 35rem;
    color: white;
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    padding: 0 1rem;
    margin-right: 2rem;
    display: flex;
    z-index: 1200;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    display: none;
    overflow: auto;
}

/* Search container to display results */
.search-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw; 
    max-width: 600px; 
    height: auto; 
    max-height: 80vh; 
    overflow-y: auto; 
    background-color: black;
    color: whitesmoke; 
    border: 0.2rem solid rgb(72, 72, 72);

    padding: 1rem; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    display: none; 
    position: fixed;
    z-index: 1200; 
}


.search-container .menu-box,
.search-container .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    background-color: #333; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem; 
    color: #fff; 
    transition: transform 0.2s, background-color 0.2s;
    cursor: pointer; 
}

.search-container .menu-box:hover,
.search-container .section:hover {
    background-color: #555; 
    transform: scale(1.02); 
}

.search-container .h{
    padding-top: 1rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    font-size: 3rem;
    text-align: center;
    color:rgb(161, 130, 71);
}
.search-container .remove{
    position: absolute;
    top:0;
    right:0;
    color:white;
    background: transparent;
    font-weight: bolder;
    border: none;
    font-size: 2rem;
    padding:1rem 1rem;
}
/* "No results found" message */
.search-container h2 {
    text-align: center;
    color: black;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    background-color:white; 
    border-radius: 8px; 
}

.anchor-list-container a{
    text-decoration: none;
    font-size: 3rem;
    color: #eeeeee;
    text-align:center;
}

.anchor-list-container {
    position: absolute;
    top: 12rem;
    right: 0;
    height: 58vh;
    width: 30rem;
    z-index: 1200;
    display: flex;
    flex-direction: column !important;
    padding: 2.5rem 2rem;
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    color: white;
    display: none;
    overflow:none;
}

.anchor-list-container.anchor-active {
    display: block;
}

#order-items{
    overflow: hidden;
}

/*   combo container */


.combo_container{
    min-height: 500vh;
    max-width: 100vw;
    margin-top: 12rem;
    background-color: black;
}
.combo_container .h3{
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    font-size: 3rem;
    text-align: center;
    color:rgb(161, 130, 71);
}

hr{
    color:#4d4855;
    border: 0.01rem solid rgb(70, 69, 69);
}



/* container for more items */

.exploremore{
    height: 70vh;
    width:85vw;
    padding: 1.5rem;
    background-color: #000000;
    border: 2px solid rgb(61, 61, 61);
    position: absolute;
    top:20%;
    z-index: 1100;
    margin-left:3.5rem;
    overflow: auto;
    position: fixed;
    display: none;
}

.exploremore .h{
    padding-top: 1rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    font-size: 3rem;
    text-align: center;
    color:rgb(161, 130, 71);
}
.exploremore .remove{
    position: absolute;
    top:0;
    right:0;
    color:red;
    background: transparent;
    font-weight: bolder;
    border: none;
    font-size: 2rem;
    padding:1rem 1rem;
}
.exploremore .p{
    padding-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #ccc;;
}
.main_container{
    min-height: 55vh;
    width:100%;
    background-color:black;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.special-item{
    min-height:35rem !important;
    width:auto;
}
.special-item .b1{
    text-decoration: none;
    margin-top: 0;
    display: inline-block;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 0.5rem;
    padding: 0 1rem;
    background-color: rgb(138, 112, 65);
    border-color: rgb(120, 101, 67);
    height: 4rem;
    margin-left:3rem
}
.special-item .section{
    height:42rem;
    width:auto;
    border:0.2rem solid rgb(48, 47, 47);
}
.special-item img{
    height:22rem;
    width:35rem !important;
    background-size: cover;
    padding: 1.5rem 0.8rem !important;
    background-repeat: no-repeat;
}
.special-item span{
    font-size: 1rem;
}
.special-item h5{
   font-size: 2rem;
   padding-left: 3rem;
}
.special-item h4{
   font-size: 2rem;
   text-align: center;
}


/* carousel container */


.section1{
    height:60vh;
    max-width:100vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: aliceblue;
    margin-bottom: 1rem;
}

.carousel-item img{
    height:60vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

/* food and drinks container */


.section2{
    min-height: calc(500vh - 60vh);
}

.delight{
    padding-top: 1rem;
    min-height:50vh;
    width: auto;
    background-color: black;
    color: white;
}
.delight h4{
    text-transform: capitalize;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}
.delight .p1{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1.5rem;
    text-align: center;
    color:#ccc
}
.delight .btn11{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    margin-left: 4rem;
}
.delight a .btn11{
    text-decoration: none;
    color: aliceblue;
}
.delight a:hover {
    text-decoration: none;
    color: #ccc
}

.menu-1-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
    height:calc(210vh-60vh);
    width:100%;
    background-color: black;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.menu-box{
    height:42rem;
    width:auto;
    padding: 0rem 2rem;
    border:0.2rem solid rgb(48, 47, 47);
}
.menu-box .quantity,.search-container .menu-box .quantity,
.search-container .section .quantity {
    width:7rem;
    bottom: 0.4rem;
    position: relative;
    margin: 0rem !important;
    margin-left:3rem !important;
    border:0.1rem solid rgb(72, 72, 72)
}
.menu-box .quantity button,.search-container .menu-box .quantity button,
.search-container .section .quantity button{
    width:2rem;
    font-size: 2rem;
    background: transparent;
    border: none;
    /* border:0.1rem solid rgb(72, 72, 72); */
    color: white;
    font-weight: bolder;
}
.menu-box .quantity .quant,.search-container .menu-box .quantity .quant,
.search-container .section .quantity .quant{
    width:2rem;
    font-size: 2rem;
    font-weight: bolder
}
.menu-box .btn{
    text-decoration: none;
    margin-top: 0.3rem;
    display: inline-block;
    font-size: 2.5rem;
    color: white;
    width:16rem !important;
    cursor: pointer;
    font-family: sans-serif;
    word-spacing: normal;
    border-radius: 0.5rem;
    padding: 0 1rem;
    background-color: rgb(138, 112, 65);
    border-color: rgb(120, 101, 67);
    height: 4rem;
    margin-left:3rem
}

.menu-box h4{
    padding-top: 1rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2rem;
    color:aliceblue;
}
.menu-box .secmain{
    display: grid;
    /* padding: 0rem 1.5rem; */
   
}
.menu-box .img{
    height:22.5rem;
    width:auto !important;
    margin: auto !important;
}

.menu-box img,.search-container .menu-box img,
.search-container .section img{
    height:22rem;
    width: 28rem !important;
    margin: auto !important;
    background-size: cover;
    padding: 1.2rem 0.5rem;
    background-repeat: no-repeat;
}
.menu-box p{
    font-size: 1.3rem;
    padding-left: 3rem;
    padding-top: 0.3rem;
    font-weight: bold;
    color: #ccc;
}
.menu-box span{
    font-size: 0.8rem;
    text-decoration: line-through;
    color: #ccc;
}
.menu-box .name{
    font-size: 1.5rem;
    padding-left: 3rem;
}


.sec1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
    height:calc(210vh-60vh);
    width:100%;
    background-color: black;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.section{
    height:44rem;
    width:auto;
    padding: 0rem 2rem;
    border:0.2rem solid rgb(48, 47, 47);
}

.secbuy1get1{
    height:46rem;
}

.section .quantity{
    width:7rem;
    bottom: 0.4rem;
    position: relative;
    margin-left:3rem;
    border:0.1rem solid rgb(72, 72, 72)
}
.section .quantity button{
    width:2rem;
    font-size: 2rem;
    background: transparent;
    border: none;
    /* border:0.1rem solid rgb(72, 72, 72); */
    color: white;
    font-weight: bolder
}
.section .quantity .quant{
    width:2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bolder
}
.section .btn{
    text-decoration: none;
    margin-top: 0.3rem;
    display: inline-block;
    font-size: 2.5rem;
    color: white;
    width:16rem !important;
    cursor: pointer;
    font-family: sans-serif;
    word-spacing: normal;
    border-radius: 0.5rem;
    padding: 0 1rem;
    background-color: rgb(138, 112, 65);
    border-color: rgb(120, 101, 67);
    height: 4rem;
    margin-left:3rem
}

.section h4{
    padding-top: 1rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2rem;
    color:aliceblue;
}
.section .secmain{
    display: grid;
    /* padding: 0rem 1.5rem; */
   
}
.section .img{
    height:22.5rem;
    width:auto !important;
    margin: auto !important;
}

.section img{
    height:22rem;
    width: 28rem !important;
    margin: auto !important;
    background-size: cover;
    padding: 1.2rem 0.5rem;
    background-repeat: no-repeat;
}
.section p{
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-top: 0.3rem;
    font-weight: bold;
    color: #ccc;
}
.section span{
    font-size: 1rem;
    text-decoration: line-through;
    color: #ccc;
}
.section .name{
    font-size: 2rem;
    padding-left: 3rem;
}

.menu .menu-1-container .menu-box:hover,.search-container .menu-box:hover,
.search-container .section:hover {
    background-color: white;
    color: black;
}

.menu .menu-1-container .menu-box:hover button,.search-container .menu-box:hover button,
.search-container .section:hover button {
    background-color: white;
    color: black;
}

.menu .menu-1-container .menu-box:hover > *,.search-container .menu-box:hover > *,
.search-container .section:hover > * {
    color: black;
}

.menu .menu-1-container .menu-box:hover p,.search-container .menu-box:hover p,
.search-container .section:hover p{
    color: black;
}
.menu .menu-1-container .menu-box:hover span,.search-container .menu-box:hover span,
.search-container .section:hover span{
    color: black;
}


/*   MEDIA QUERIES */



@media (max-width:600px){
    .pannel .signin a {
        width: 8rem;
        height: 2rem;
        text-align: center;
        padding-top: 0rem;
        text-transform: capitalize;
        font-size: 1.5rem;
    }
}


@media (max-width:300px){
    
    .sec1{
        padding-left:0rem;
    }
}
@media (max-width:250px){
    
    .sec1{
        padding-left:0rem;
    }
}

/*footer*/


.footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
}
.footer .share-list{
    padding: 1rem 0;
}
.footer .share-list a{
    font-size: 2rem;
    margin: .3rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color:white;
    text-decoration: none;
    border:0.2rem solid rgb(72, 72, 72);
    border-radius: 50%;
}
.footer .share-list a:hover{
    background-color:rgb(185, 145, 72);
}
.footer .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    gap:1.5rem
}
.footer .links a{
    padding: 1rem 2rem;
    color: white;
    border:0.2rem solid rgb(72, 72, 72);
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
}
.footer .links a:hover{
    background-color:rgb(185, 145, 72);
}
.footer .credit{
    font-size: 1rem;
    text-transform: capitalize;
}
.footer .credit span{
    font-size: 1.5rem;
    text-transform: capitalize;
    color:rgb(185, 145, 72)
}









@media (max-width: 992px) {
    .exploremore {
        width: 92vw;
        height: 80vh;
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        padding: 1rem;
    }

    .exploremore .h {
        font-size: 2.2rem;
    }

    .exploremore .p {
        font-size: 1.6rem;
    }

    .exploremore .remove {
        font-size: 1.8rem;
    }
}
@media (max-width: 992px) {
    .special-item .section {
        height: auto;
        padding-bottom: 1rem;
    }

    .special-item img {
        width: 100% !important;
        height: 20rem;
        object-fit: cover;
        padding: 1rem !important;
    }

    .special-item h5 {
        font-size: 1.8rem;
        padding-left: 1.5rem;
    }

    .special-item h4 {
        font-size: 1.8rem;
    }
}
@media (max-width: 600px) {
    .special-item .b1 {
        font-size: 1.8rem;
        height: 3.6rem;
        margin-left: 1.5rem;
        padding: 0 0.8rem;
    }

    .quantity {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
@media (max-width: 400px) {

    .exploremore{
        overflow-x: hidden;
    }

    .exploremore .h {
        font-size: 1.8rem;
    }

    .sec1{
        padding-left:0rem;
    }
    .exploremore .p {
        font-size: 1.4rem;
    }

    .exploremore.main_container{
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .special-item img {
        height: 18rem;
        width: 100% !important;
    }
}




.placeorder_container {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

.placeorder_container.open {
    max-height: 500px; /* adjust if needed */
    opacity: 1;
}


.search-container {
    max-height: 80vh;
    overflow-y: auto;
}





/* TOTAL SECTION - BLACK THEME */
.total {
    background-color: #111; /* deep black background */
    color: #fff; /* white text */
    padding: -2rem 2rem;
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5); /* subtle shadow for depth */
    font-size: 1.4rem;
    text-transform: capitalize;
    position: relative;
}

/* Each total row */
.total .total-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    border-bottom: 1px solid #333; /* subtle divider */
}

/* Last row (total price) */
.total .total-qty.tp {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.6rem;
    border-bottom: none; /* no divider for last row */
}

/* Labels styling */
.total .total-qty div:first-child {
    color: #ccc; /* slightly gray for labels */
    font-weight: 500;
}

/* Values styling */
.total .total-qty div:last-child {
    color: #fff; /* bright white for numbers */
    font-weight: 600;
}

/* Divider line inside total section */
.total .hr {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 1rem 0;
    border: none;
}

/* Hover effect if needed (optional) */
.total .total-qty:hover div:last-child {
    color: #ffd700; /* highlight value on hover, optional */
    transition: color 0.3s ease;
}
